# Used for VS Code only

version: "3.9"

services:
  api:
    image: ghcr.io/hallboard-team/dotnet-v${DOTNET_VERSION:-9.0}:latest

    user: "0:0"
    working_dir: /workspaces/app

    volumes:
      - ..:/workspaces/app:Z
      - vscode:/vscode

    environment:
      VSCODE_SERVER_DIR: /vscode/vscode-server

    ports:
      - "${DEV_PORT:-5000}:5000"

volumes:
  vscode:
    external: true
